$background-color-default : white;
$color-black : black;
$color-white : white;
$color-yellow : yellow;
$font-size-md : 1rem;
$space-default : 16px;
$text-color-default : black;
$text-size-default : 1rem;
